@{
    ViewData["Title"] = "SubNotes";
}
@model IEnumerable<SubNote>
<div class="container p-3">
    <div class="row">
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered border-success" style="width:100%">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="85%">@item.NoteName</td>
                                <td class="text-center">
                                    <a asp-controller="Notes" asp-action="Delete" asp-route-id="@item.NoteId" class="btn btn-danger w-100">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No items created yet</p>

            }
        </div>
    </div>
</div>